#root {
  width: 1280px;
  max-width: 100%;
  margin-inline: auto
}

header {
  width: fit-content;
  margin-inline: auto;
}

textarea {
  width: -webkit-fill-available;
  min-height: 50svh;
  resize: vertical;
}

.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
  margin: 1ch;

  @media (width < 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.options {
  display: flex;
  flex-flow: row wrap;
  gap: 1ch;
  justify-content: center;
}

.tree {
  border: 1px solid #393939;
  border-radius: 1ch;
  background-color: black;
  padding: 2ch;
  overflow: hidden;

  &[data-editable="true"] {
    background-color: #151515;
  }

  > * {
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .name {
    cursor: default;
    font-size: var(--fs-large);
  }

  .directory, .file {
    position: relative;
    width: fit-content;
    min-width: 16ch;
    padding-inline: 1ch;
    border-radius: .5ch;

    &::before {
      content: "";
      position: absolute;
      background-color: var(--color);
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .directory {
    --color: #9b9b9b;
    margin-block: .5em;
    padding: 1ch;

    > .name {
      font-weight: bold;
    }
  }

  .file {
    --color: #d7d7d7;

    > .name {
      font-weight: lighter;
    }
  }

  .file-summary {
    font-size: var(--fs-small);
    margin-inline-end: 1ch;
    padding: .15em .5ch;
    background-color: var(--color-filetype);
  }
}

[draggable="true"] {
  cursor: grab;
  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-hover);
  }
}


[data-is-drop-target] {
  outline: 1px solid #ffffff;

  &:has([data-is-drop-target]) {
    outline: none;
  }
}


[data-drag-drop-preview] {
  position: absolute;
  left: -100lvw;
  top: -100lvh;
  background-color: black;
  padding: 2ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .name {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
  }
}
